<!DOCTYPE html>
<html lang="en">
<%- include("Header"); -%>

<body>
    <%- include("Navbar",{login:login}); -%>

    <div>
        <p style="text-align: center;">__________________________________________</p>
        <h1 style="text-align: center;">Contact Details</h1>
        <p style="text-align: center;">__________________________________________</p>
    </div>

    <table class="col-10 col-md-11 col-lg-10 mx-auto table table-hover" id="imgTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image Name</th>
                <th scope="col">Image Category</th>
                <th scope="col">Update Images and Details</th>
                <th scope="col">Delete Imgs</th>
                <th scope="col">Images</th>
            </tr>
        </thead>
        <tbody>
            <!--ckmdckds

            Name
            address
            mobile
            function:{
            Wedding,
            }
            email




           ckmdckds-->

            <tr>
                <th scope="row">HGHBVuyh</th>
                <td>vfdvdfvf</td>
                <td>dsfd</td>
                <td>vdv</td>
                <td>vddv</td>
                <td>vdv</td>
            </tr>
        </tbody>
    </table>


    <!-- Home Page Data -->




    <%- include("Footer"); -%>
</body>

<script>

    $(document).ready(function () {
        console.log("redy");


    });

</script>

</html>