<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("Header"); -%>
</head>

<body>
    <%- include("Navbar",{login:login}); -%>


    <div class="col-8 m-5 mx-auto">
        <%- msg %>
        <button class="btn btn-primary" id="submit">Back to Home</button>
    </div>


</body>
<script>
    $("#submit").click(() => window.location.href = "/")
</script>


</html>