<footer class="page-footer font-small blue pt-4" style="padding-left: 0px;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://MB_FILMS.com/"> MB_FILMS</a>
    </div>
</footer>